body {
  background-image: url("./wave-cafe-video-bg.mp4");
  background-repeat: no-repeat;
}
input {
  background-color: rgba(244, 237, 237, 0);
}
label,
h1,
footer {
  color: rgb(242, 6, 155);
}
video {
  position: relative;
  width: 100%;
  height: auto;
}
main {
  position: absolute;
  left: 39%;
}
